﻿@model FolderViewModel
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <label>Folder Name:</label>
  <span>@Model?.Name</span>
  @foreach (var folder in Model?.NestedFolders)
  {
    <br />
    <a href="/@folder">@folder.Split('/').Last()</a>
   }
</div>
